<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2>Book List</h2>
      <ul class="list-group">
        <li class="row">
          <div class="col-md-7">Title</div>
          <div class="col-md-3">Genre</div>
          <div class="col-md-2">Ranking</div>
        </li>
        <li class="list-group-item row"
          *ngFor="let book of books"
          (click)="selectBook(book)"
          [class.active]="book === selectedBook">
          <div class="col-sm-7">{{book.title}}</div>
          <div class="col-sm-3">{{book.genre}}</div>
          <div class="col-sm-2">{{book.rank}}</div>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="createNewBook()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <book-details
        [book]="selectedBook"
        [createHandler]="addBook"
        [updateHandler]="updateBook"
        [deleteHandler]="deleteBook">
      </book-details>
    </div>
  </div>
</div>
